.cardStyle {
    width: 1068px;
    height: 315px;
    border-radius: 32px;
    background: linear-gradient(145deg, #1678F2 3.73%, #65A8FB 132.69%);
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}

.title {
    color: #FFF;
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.content {
    color: #FFF;
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.bulbe-form {
    border-radius: 100px;
background: #FFF;
box-shadow: 0px 8px 23px 0px rgba(65, 132, 247, 0.24);
}

.text-style {
    color: #3A8EF6;
font-family: 'Times New Roman', Times, serif;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.text-hearder {
    color: #00BFA5;
text-align: center;

/* title */
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.44px;
}