.footer {
  margin-top: rem(120px);
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  
}

.logo {
  

  @media (max-width: mantine-breakpoint-sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.description {
 color: #FFF;
font-family: 'Times New Roman', Times, serif;
font-size: 16px;
font-style: italic;
font-weight: 300;
line-height: normal;

  @media (max-width: mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xs);
    text-align: center;
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  @media (max-width: mantine-breakpoint-sm) {
    flex-direction: column;
    align-items: center;
  }
}

.groups {
 

  @media (max-width: mantine-breakpoint-sm) {
    display: none;
  }
}

.wrapper {
  width: rem(160px);
  
}

.link {
  color: #FFF;
font-family: 'Times New Roman', Times, serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0.8;
  display: block;
  padding-top: rem(3px);
  padding-bottom: rem(3px);

  &:hover {
    text-decoration: underline;
  }
}

.title {
  color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.afterFooter {
   color: #FFFFFF;
font-family: 'Times New Roman', Times, serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
    margin-top: var(--mantine-spacing-xl);
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);

  @media (max-width: mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.social {
  @media (max-width: mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xs);
  }
}

